@model IEnumerable<BingMaps.Web.Models.PointViewModel>

@{
    ViewBag.Title = "About";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminDistrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminDistrict2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryRegion)
        </th>
    </tr>
    @foreach (var address in Model)
    {
        @Html.Partial("Address", address)
    }
</table>

